In [25]:
import numpy as np
import matplotlib.pyplot as plt
from exod.post_processing.crossmatch_simulation import cluster_regions
import pandas as pd
import astropy.units as u
from astropy.table import Table

In [30]:
df_regions = pd.read_csv('/home/nkhan/EXOD2/data/results_combined/merged_with_dr14/df_regions.csv')
df_regions['region_label'] = cluster_regions(df_regions, clustering_radius=20*u.arcsec)

2024-07-12 11:58:42,524 - INFO - crossmatch_simulation.py:cluster_regions - Numbering unique clusters...
2024-07-12 11:58:42,550 - INFO - crossmatch_simulation.py:cluster_regions - Found 32553 unique region clusters...
2024-07-12 11:58:42,551 - INFO - crossmatch_simulation.py:cluster_regions - Mapping Regions to each cluster...
2024-07-12 11:58:43,056 - INFO - crossmatch_simulation.py:cluster_regions - Precomputing cluster means...
2024-07-12 11:58:43,737 - INFO - crossmatch_simulation.py:cluster_regions - Associating regions to clusters...
2024-07-12 11:58:45,782 - INFO - crossmatch_simulation.py:cluster_regions - Final number of unique regions = 32247

In [28]:
df_regions.groupby(['region_label'])[['ra_deg', 'dec_deg']].agg(np.mean)

/tmp/ipykernel_80128/453169838.py:1: FutureWarning: The provided callable <function mean at 0x7f4da4046520> is currently using DataFrameGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  df_regions.groupby(['region_label'])[['ra_deg', 'dec_deg']].agg(np.mean)

                  ra_deg    dec_deg
region_label
0               9.801227 -43.825151
1               9.739232 -43.775004
2               9.700222 -43.518297
3               9.476927 -43.551739
4               9.445900 -43.629838
...                  ...        ...
32548         149.192958  69.562246
32549         149.001964  69.679725
32550         148.986061  69.707644
32551         148.889440  69.657460
32552         148.138565  69.549968

[32247 rows x 2 columns]

In [ ]:
df_regions['cluster_label'] = cluster_labels

In [ ]:
sc = SkyCoord(ra=ra, dec=dec, unit='deg')
plt.scatter(sc.galactic.l.wrap_at('180d'), sc.galactic.b, marker='.', s=0.5, color='black', alpha=0.4)
plt.xlim(-180,180)
plt.ylim(-90,90)